html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body {
	align-content: center;
	background-image: url(/img/lasercat.gif);
	background-size: 100%;
}

/*Title*/
.title {
	padding-right: 10px;
	text-align: center;
	font-size: 39px;
	font-family: 'Orbitron', sans-serif;
	padding-bottom: 10px;
	text-decoration-color: white;
}
/*Keyboard buttons*/
.keys {
	background-color: orange;
	height: 75px;
	width: 75px;
	font-size: 25px;
	text-align: center;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	font-family: 'Orbitron', sans-serif;
 	}
/*Screens*/
#leftInput {
	height: 75px;
	width: 152px;
	background-color: gray;
	font-size: 40px;
	font-family: 'Orbitron', sans-serif;
	border-radius: 20px;
	margin-top: 5px;
}

#operatorInput {
	height: 75px;
	width: 60px;
	background-color: gray;
	font-size: 40px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	border-radius: 20px;
	margin-top: 5px;
}

#rightInput {
	height: 75px;
	width: 155px;
	background-color: gray;
	font-size: 40px;
	font-family: 'Orbitron', sans-serif;
	border-radius: 20px;
	margin-top: 5px;
}
/*blank buttons*/
#blank {
	background-image: url(/img/spacecat.png);
	background-color: black;
	text-align: left;
	text-decoration-color: silver;
}


