

#todayWeather {
	border: solid;
	background-color: silver;
}

#tomorrowWeather {
	border: solid;
	background-color: silver;
}

#thirdDayWeather {
	border: solid;
	background-color: silver;
}

#googleMap {
	height: 500px;
	width: 1000px;
	border: solid;
	margin-left: 100px;
	align-content: center;
}